/* your beautiful css styling goes here! */
.gameBoard {
  border: 2px solid black;
  width: 500px;
  height: 500px;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.draggable {
	position: absolute;
}

.enemy {
  -webkit-transform: rotate(360deg);
 -webkit-animation-name:rotate;
 -webkit-animation-duration: 0.5s;
 -webkit-animation-iteration-count: infinite;
 -webkit-animation-timing-function: linear;
 -webkit-transform-origin: 50% 50%;
}

text {
  font: bold 48px monospace;
}